includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 7
    paths:
        - app
        - config
        - database
        - routes
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: false
